<div class="container">
  <div class="row" style="padding: 20px 0px; margin: 0px 1px;">
    <div class="col-md-12">
      <div class="col-md-6 col-sm-12 col-md-offset-6">
        <label for="inp-first-name">نام</label>
        <input type="text" id="inp-first-name"
               [(ngModel)]="userInfoModel['firstName']"
               class="form-control">
      </div>
      <div class="col-md-6 col-sm-12 col-md-offset-6">
        <label for="inp-last-name">نام خانوادگی</label>
        <input type="text" id="inp-last-name"
               [(ngModel)]="userInfoModel['lastName']"
               class="form-control">
      </div>
      <div class="col-md-6 col-sm-12" col-md-offset-6>
        <label for="inp-national-code">کد ملی</label>
        <input type="text" id="inp-national-code"
               [(ngModel)]="userInfoModel['nationalCode']"
               class="form-control">
      </div>
      <div class="col-md-12 mt-4">
        <button class="btn btn-outline-success m-2" (click)="userInfoRegister()">ثبت</button>
        <button class="btn btn-outline-danger m-2" (click)="userInfoCancel()">انصراف</button>
      </div>
    </div>
  </div>
</div>
