<h1>home!!!</h1>

<!--<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" >-->
  <!--<ngb-panel >-->
    <!--<ng-template ngbPanelTitle>-->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!---->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
  <!--<ngb-panel>-->
    <!--<ng-template ngbPanelTitle>-->
      <!---->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!---->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
<!--</ngb-accordion>-->
