<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
    <div class="col-md-4 col-sm-4 col-xs-4">&nbsp;</div>
  </div>
</div>
<h1>home!!!</h1>

<!--<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" >-->
  <!--<ngb-panel >-->
    <!--<ng-template ngbPanelTitle>-->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!---->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
  <!--<ngb-panel>-->
    <!--<ng-template ngbPanelTitle>-->
      <!---->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!---->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
<!--</ngb-accordion>-->
